* {
  box-sizing: border-box;
}



body {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background: #0d0815;
  color: #ffffff;
  font-family: "Poppins";
  gap: 20px;
  padding-top: 100px;
}




.header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  min-height: 72px;
  padding: 0 20px 0 8px;
  font-weight: bold;
}

.header h1 {
  font-size: 25px;
  font-weight: bold;
  padding-top: 35px;
  padding-left: 10px;
}

.header .text1 {
  color: #ffffff;
}

.header .text2 {
  color: rgb(0, 255, 170); 
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 180px;
  height: 100%;
  background: linear-gradient(to right, #250e2f, #0d0815);
  box-shadow: none;
  border: none;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: transform 0.3s ease;
  transform: translateX(0);
  z-index: 1000;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar nav {
  padding: 0 8px;
}

.sidebar i {
  font-size: 15px;
}

.sidebar:hover {
  width: 180px;
}

.sidebar a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  height: 44px;
  width: 100%;
  border-radius: 6px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  padding: 0 0 0 16px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: background 0.3s ease;
}

.sidebar a:hover {
  background: rgb(0 0 0 / 20%);
}

.sidebar a:active,
.sidebar a.active {
  background: rgb(0 0 0 / 30%);
}

.sidebar a:focus {
  background: rgb(0 0 0 / 30%);
}

.menu-toggle {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1001;
}




.card {
  display: flex;
  align-items: center;
  width: 75vw;
  max-width: 650px;
  padding: 50px 30px 50px 20px;
  background: #0d0815;
  border-radius: 24px;
  color: white;
  margin: 55px;
  text-decoration: none;
  color: inherit;
}

.card img {
  max-width: 100%;
  width: 200px; /* Puedes ajustar el tamaño según sea necesario */
  height: 200px; /* Asegúrate de que el ancho y el alto sean iguales para un círculo perfecto */
  object-fit: cover;
  margin-left: 0;
  margin-right: 30px;
  border-radius: 50%;
  animation: morph 3.5s linear infinite;
}

@keyframes morph{
  0%,
  100%{
    border-radius: 
    40% 60% 70% 30% /
    40% 40% 60% 50%;
  }
  34%{
    border-radius: 
    70% 30% 50% 50% /
    30% 30% 70% 70%;
  }
  67%{
    border-radius: 
    100% 60% 60% 100% /
    100% 100% 60% 60%;
  }
}

.card h1 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 10px;
  font-family: "Poppins";
  color: rgb(0, 255, 170);
}

.card h2 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 10px;
  font-family: "Poppins";
  color: white;
}

.card h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  font-family: "Poppins";
  color: white;
}

.card p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  font-family: "Poppins";
  color: white;
}

.card .text1 {
  font-size: 40px;
  color: #ffffff;
}

.card .text2 {
  color: rgb(0, 255, 170); 
}

.card a {
  color: inherit;
  text-decoration: none;
}

.icon-large {
  font-size: 48px;
}

.vite-icon {
  width: 17px;
  height: 24px;
  vertical-align: middle;
}

.python-icon {
  width: 20px;
  height: 24px;
  vertical-align: middle;
}

.portfolio-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
}

.portfolio-link h2 {
  margin: 0;
  font-size: 24px;
}

.card button {
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  font-family: inherit;
  padding: 16px 26px;
  font-size: 16px;
  border-radius: 40px;
  text-decoration: none;
  color: inherit;
}




@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
    width: 180px;
  }
  .body {
    flex-direction: column;
    display: flex;
  }
  .card {
    flex-direction: column;
  }
  .menu-toggle {
    display: block;
  }
  .header {
    flex-direction: column;
  }
  .section {
    padding: 0px;
  }
}
